@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: #131313;    
}

h1{
    color: white;
    font-family: Roboto;
}

.media-picture{
    background-image: url('https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Poppy_0.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
}

.review-score {
    padding: 12px;
    color: white;
    background-color: #e6bd09;
}

h2{
    color: steelblue;
}

p{
    color: #bdbdbd;
    font-family: Roboto;
}

a{
    color: yellow;
}